.about {
    @include mb180;
    & .common {
        &-title {
            margin-bottom: 40px !important;
            padding: 0 !important;
        }
    }
    &-img{
        margin-top: 60px;
    }
}