.banner {
    padding-top: 245px;
    padding-bottom: 216px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include xl {
        padding-top: 220px;
        padding-bottom: 140px;
    }
    @include lg {
        padding-top: 180px;
        padding-bottom: 140px;
    }
    @include md {
        padding: 155px 0;
        padding-bottom: 100px;
    }
    @include sm {
        padding: 145px 0;
        padding-bottom: 70px;
    }
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1128px;
        height: 360px;
        content: '';
        background-image: url(../img/banner-bg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @include lg {
            width: 823px;
            height: 273px;
        }
        @include mmd {
            width: 823px;
            height: 273px;
        }
    }
    &-content {
        @include mmd {
            text-align: center;
            margin-bottom: 40px;
        }
        & h1 {
            font-size: 72px;
            & span {
                background-image: linear-gradient(to right, #0074FF 0%, #fff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
            }
            margin-bottom: 20px;
            @include xl {
                font-size: 65px;
            }
            @include lg {
                font-size: 55px;
                margin-bottom: 10px;
            }
            @include mmd {
                font-size: 50px;
                margin-bottom: 10px;
            }
            @include sm {
                font-size: 44px;
            }
        }
        & p {
            @include font-20;
            margin-bottom: 36px;
            @include xl {
                margin-bottom: 30px;
            }
            @include lg {
                margin-bottom: 24px;
            }
            @include mmd {
                margin-bottom: 20px;
            }
        }
        & ol {
            list-style: disc;
            margin-bottom: 36px;
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            @include xl {
                margin-bottom: 34px;
            }
            @include lg {
                margin-bottom: 26px;
            }
            @include mmd {
                margin-bottom: 22px;
                text-align: start;
            }
            & li {
                &::marker {
                    color: #13AE6D;
                }
                width: 50%;
                @include sm {
                    font-size: 16px;
                }
            }
        }
    }
    &-img {
        & img {
            max-width: 580px;
            @include lg {
                max-width: 100%;
            }
            @include mmd {
                max-width: 100%;
            }
        }
    }
}