.banner {
    padding-top: 245px;
    padding-bottom: 216px;
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1128px;
        height: 360px;
        content: '';
        background-image: url(../img/banner-bg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &-content {
        & h1 {
            font-size: 72px;
            & span {
                background-image: linear-gradient(to right, #0074FF 0%, #fff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
            }
            margin-bottom: 20px;
        }
        & p {
            @include font-20;
            margin-bottom: 36px;
        }
        & ol {
            list-style: disc;
            margin-bottom: 36px;
            display: flex;
            flex-wrap: wrap;
            & li {
                &::marker {
                    color: #13AE6D;
                }
                width: 50%;
            }
        }
    }
    &-img {
        & img {
            max-width: 580px;
        }
    }
}