.team {
    @include mb180;
    & .container {
        &-fulled {
            width: 100% !important;
        }
    }
    & .common {
        &-title {
            margin-bottom: 85px;
        }
    }
    &-slider {
        background-color: #0E0F21;
        position: relative;
        z-index: 1;
    }
    & .borderBottom {
        border-bottom: 2px dashed #1A1B2F;
        opacity: .6;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
    &-card {
        text-align: center;
        min-height: 494px;
        padding: 80px 48px;
        width: 33.33333%;
        border-right: 2px dashed #1A1B2F;
        &:nth-child(3n) {
            border-right: 0;
        }
        &-text {
            & span {
                color: #55A2FF;
                font-size: 14px;
                letter-spacing: 1px;
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 8px;
            }
            & h5 {
                margin-bottom: 16px;
                @include font-32;
            }
            & p {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
    & .social {
        &-list {
            justify-content: center;
        }
        &-link {
            --size: 60px;
            width: var(--size);
            height: var(--size);
            box-shadow: 0 0 20px 0px #262740 inset;
        }
    }
}